.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-started img {
    padding-top: 50px;
    width: 45%;
}

.get-started h1,
p {
    color: var(--white);
}

.get-started h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    width: 700px;
    height: 120px;
    margin: 35px;
    line-height: 55px;
}

.get-started p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    width: 600px;
    height: 90px;
}

.get-started .button {
    padding: 17px 105px;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    margin-top: 20px;
}

.get-started .button:hover {
    background: var(--cyan);
}

.main .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    padding-top: 160px;
}

.features .features-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 214px;
    margin: 60px 100px;
    text-align: center;
}

.features .features-content img {
    height: 71px;
}

.features .features-content h1 {
    color: var(--white);
    padding-top: 35px;
}

.features .features-content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
}


/*-------------------------------------------------*/


.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

.team .content {
    width: 530px;
    height: 300px;
}

.team .content h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
    width: 400px;
    padding-bottom: 20px;
}

.team .content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.team .content .button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--cyan);
    border-bottom: 2px solid var(--cyan);
    padding-bottom: 5px;
}

.team .content .button img {
    color: var(--cyan);
}

.team .content .button 
,img {
    transition: all 0.3s ease-in-out;
}

.team .content .button:hover {
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.team .content .button:hover img {
    transform: translateX(5px);
}


/*-------------------------------------------------*/


.comments {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    z-index: 2;
    padding-bottom: 380px;
}

.comments .quote {
    position: absolute;
    top: 165px;
    left: 170px;
    z-index: -1;
}

.comments .comment {
    width: 360px;
    height: 200px;
    padding: 35px;
    border-radius: 5px;
    background-color: var(--dark-blue-testimonials);
}

.comment p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.comment .user {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.comment .user img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.comment .user h3 {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 3px;
    color: var(--white);
}

.user-info p {
    font-size: 9px;
    color: var(--white);
}


/*-------------------------------------------------*/


.sing-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: -2650px;
    z-index: 2;
    background-color: var(--dark-blue-intro);
    padding: 60px;
    margin: 200px 340px 60px 340px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.sing-up h1 {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
}

.sing-up p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    width: 650px;
}

.sing-up form {
    padding-top: 30px;
}

.sing-up form input {
    padding: 13px 270px 13px 13px;
    border-radius: 40px;
    margin-right: 10px;
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.sing-up form a {
    padding: 14px 35px;
    border-radius: 40px;
    color: var(--white);
    background: linear-gradient(to top, var(--blue), var(--cyan));
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.sing-up form a:hover {
    background: var(--cyan); /* Cor sólida ao passar o mouse */
}


/*-------------------------------------------------*/


.footer {
    background-color: var(--dark-blue-footer);
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 360px;
    padding: 30px;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.footer .logo {
    width: 100px;
    height: 30px;
}