.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 73px 80px;
    background: var(--dark-blue-intro);
}

.menu {
    display: flex;
    align-items: center;
    gap: 65px;
}

.menu li a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    transition: .3s;
}

.menu li a:hover {
    text-decoration: underline;
    font-weight: 700;
}


/* ----------------------------------------------- */


.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: var(--dark-blue-intro) url("../images/bg-curvy-desktop.svg") bottom no-repeat;
    background-size: 100% 270px;
}

.hero img {
    width: 742px;
    height: 538px;
}

.hero h2 {
    width: 742px;
    margin: 46px;
}

.hero p {
    width: 742px;
    font-size: 22px;
    padding: 0 30px;
}

.btn-start {
    color: var(--white);
    width: 280px;
    padding: 20px 0;
    border-radius: 50px;
    margin: 30px 0;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    border: none;
    cursor: pointer;
    transition: .3s;
}

.btn-start:hover {
    background: radial-gradient(var(--cyan), var(--cyan));
}


/* ----------------------------------------------- */


.features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 94px 150px;
    margin: 130px 0;
    padding: 0 280px;
}

.feature {
    text-align: center;
}

.feature h3 {
    margin: 25px 0 12px 0;
}


/* ----------------------------------------------- */


.description {
    display: flex;
    align-items: center;
    padding: 0 100px;
    gap: 40px;
}

.img img {
    height: 460px;
    width: auto;
    margin-right: 45px;
}

.text {
    width: 35%;
}

.text :not(:last-child) {
    margin-bottom: 25px;
}

.desc-link {
    color: var(--cyan);
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 4px;
    transition: color 0.3s, border-bottom-color 0.3s;

}

.desc-link:hover {
    color: var(--white);
    border-bottom-color: var(--white);
}

.desc-link img {
    vertical-align: -4px;
    transition: .3s;
}

.desc-link:hover img {
    transform: translateX(5px);
}


/* ----------------------------------------------- */


.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 140px;
}

.testimonial {
    background: var(--dark-blue-testimonials);
    padding: 45px 40px 15px 30px;
    border-radius: 5px;
    position: relative;
}

.testimonial:first-child::before {
    content: url("../images/bg-quotes.png");
    position: absolute;
    top: -35px;
    left: -15px;
    z-index: -1;
}

.testimonial p {
    margin-bottom: 25px;
}

.profile {
    display: flex;
}

.profile img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-description h3 {
    font-size: 10px;
}

.profile-description p {
    font-size: 8px;
}


/* ----------------------------------------------- */


.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: var(--dark-blue-intro);
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 74px 40px 74px;
    border-radius: 5px;
    bottom: -115px;
}

.sign-up h2 {
    margin-bottom: 30px;
}

.sign-up p {
    margin-bottom: 36px;
    text-align: center;
}

form .email {
    width: 482px;
    height: 50px;
    padding: 20px 47px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-right: 20px;
}

form .btn {
    margin: 0;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    border: none;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

form .btn:hover {
    background: radial-gradient(var(--cyan), var(--cyan));
}

form {
    display: flex;
    align-content: center;
}


/* ----------------------------------------------- */


footer {
    background: var(--dark-blue-footer);
    padding: 180px 80px 20px 100px;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 70px;
    grid-template-areas:
        "logo . . . ."
        "location  contact links more-links social-icons";
}

.logo {
    grid-area: logo;
    width: 130px;
    height: 40px;
    margin-bottom: 55px;
}

.location {
    grid-area: location;
    display: grid;
    grid-template-columns: 5% 95%;
}

.location span {
    padding-left: 35px;
}

.contact {
    grid-area: contact;
}

.contact p {
    margin-bottom: 26px;
}

.contact img {
    margin-right: 24px;
    vertical-align: -4px;
}

.links {
    grid-area: links;
    display: grid;
    grid-template-columns: 1fr;
    transition: .3s;
}

.links a:hover {
    font-weight: 700;
}

.links a {
    margin-bottom: 24px;
}

.more-links {
    grid-area: more-links;
    display: grid;
    grid-template-columns: 1fr;
    transition: .3s;
}

.more-links a:hover {
    font-weight: 700;
}

.more-links a {
    margin-bottom: 24px;
}

.social-icons {
    grid-area: social-icons;
    display: flex;
    gap: 20px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons i {
    font-size: 20px;
    color: var(--white);
}

.social-icons a:hover {
    border: 1px solid var(--cyan);
}

.social-icons a:hover i {
    color: var(--cyan);
}
